{% extends 'home/base.html' %}
{% block content %}
<div>
    <div class="container">
        <!-- showing single blog  -->
        <div class="row border border-primary">
            <div class="col">
                <h2>{{blog.title}}</h2> <br>
                author: {{blog.author}} <br>
                topic: {{blog.category}} <br>
                updated: {{blog.updated}} <br> <br>
                {{blog.post}}
            </div>
        </div>
        <br>

        <!-- like unlike button  -->
        <div class="row">
            <div class="col">
                <form action="{% url 'likeLink' blog.id %}" method="post">
                    {% csrf_token %}
                    {% if is_liked %}
                    <button class="btn btn-danger" type="submit">Unlike</button>
                    {% else %}
                    <button class="btn btn-primary" type="submit">Like</button>
                    {% endif %}
                    likes: <b>{{like_total}}</b> likes
                </form>
            </div>
        </div>
        <br><br><br>

        <!-- showing all comments  -->
        <div class="row ">
            {% for comment in all_comments %}
            <div class="col">
                comment by: {{comment.author}} <br>
                {{comment.comment}}
            </div>
            <hr>
            {% endfor %}
        </div>

        <!-- commenting on a post  -->
        <div class="row">
            <div class="col">
                <form action="" method="post">
                    {% csrf_token %}
                    {{commentForm.as_p}} <br>
                    <button type="submit" class="btn btn-primary" name='commenting'>submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}